<div class="row">
  <div class="col-md-4">
    <img src="/images/<%= movie.image %>" class="img-fluid">
  </div>
  <div class="col-md-8">
    <h2><%= movie.title %></h2>
    <p><%= movie.description %></p>
    <p>⭐ Rating: <%= movie.rating %></p>
    <a href="/" class="btn btn-secondary">Back</a>
  </div>
</div>
